USE [LaptopStore]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[NameAd] [nchar](10) NULL,
	[PassAd] [nchar](10) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDonHang]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDonHang](
	[CTDonhangID] [int] IDENTITY(1,1) NOT NULL,
	[SanphamID] [int] NULL,
	[DonhangID] [int] NULL,
	[Soluong] [int] NULL,
	[Dongia] [float] NULL,
 CONSTRAINT [PK_CTDonHang] PRIMARY KEY CLUSTERED 
(
	[CTDonhangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNhap]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[CTphieunhapID] [int] IDENTITY(1,1) NOT NULL,
	[PhieunhapID] [int] NULL,
	[SanphamID] [int] NULL,
	[Soluongnhap] [int] NULL,
	[Dongia] [bigint] NULL,
	[Thanhtien] [bigint] NULL,
 CONSTRAINT [PK_CT_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[CTphieunhapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuXuat]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuXuat](
	[CTPhieuxuatID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuxuatID] [int] NULL,
	[SanphamID] [int] NULL,
	[DonhangID] [int] NULL,
	[Soluongxuat] [int] NULL,
	[Giaban] [bigint] NULL,
	[Thanhtien] [bigint] NULL,
 CONSTRAINT [PK_CTPhieuXuat] PRIMARY KEY CLUSTERED 
(
	[CTPhieuxuatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[DanhmucID] [int] IDENTITY(1,1) NOT NULL,
	[Tendanhmuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[DanhmucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[DonhangID] [int] IDENTITY(1,1) NOT NULL,
	[KhachhangID] [int] NULL,
	[Ngaylap] [date] NULL,
	[Ngaynhanhang] [date] NULL,
	[Diachigiaohang] [nvarchar](50) NULL,
	[Phone] [varchar](11) NULL,
	[Trangthai] [bit] NULL,
	[Hotenkhachhang] [nvarchar](50) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[DonhangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[HinhthucthanhtoanID] [int] IDENTITY(1,1) NOT NULL,
	[Tenhinhthuctt] [nvarchar](200) NULL,
	[Mota] [nvarchar](500) NULL,
 CONSTRAINT [PK_HinhThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[HinhthucthanhtoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachhangID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Tenkhachhang] [nvarchar](50) NULL,
	[Phone] [varchar](11) NULL,
	[Mail] [varchar](50) NULL,
	[Diachi] [nvarchar](50) NULL,
	[PhanquyenID] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[KhachhangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoangGia]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoangGia](
	[KhoanggiaID] [int] IDENTITY(1,1) NOT NULL,
	[Giatren] [decimal](18, 0) NULL,
	[Giaduoi] [decimal](18, 0) NULL,
 CONSTRAINT [PK_KhoangGia] PRIMARY KEY CLUSTERED 
(
	[KhoanggiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[NhacungcapID] [int] IDENTITY(1,1) NOT NULL,
	[Tennhacungcap] [nvarchar](500) NULL,
	[SDT] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Diachi] [nvarchar](500) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[NhacungcapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[PhanquyenID] [int] IDENTITY(1,1) NOT NULL,
	[Tenquyen] [nvarchar](200) NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[PhanquyenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[PhieunhapID] [int] IDENTITY(1,1) NOT NULL,
	[TaikhoanID] [int] NULL,
	[NhacungcapID] [int] NULL,
	[Ngaynhap] [date] NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[PhieunhapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[PhieuxuatID] [int] IDENTITY(1,1) NOT NULL,
	[TaikhoanID] [int] NULL,
	[Ngayxuat] [date] NULL,
 CONSTRAINT [PK_PhieuXuat] PRIMARY KEY CLUSTERED 
(
	[PhieuxuatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[SanphamID] [int] IDENTITY(1,1) NOT NULL,
	[DanhmucID] [int] NULL,
	[Tensanpham] [nvarchar](50) NULL,
	[Giabandau] [float] NULL,
	[Trongluong] [float] NULL,
	[Mausac] [nvarchar](50) NULL,
	[Imagelink] [varchar](200) NULL,
	[Memory] [varchar](200) NULL,
	[Hedieuhanh] [varchar](200) NULL,
	[VGA] [varchar](200) NULL,
	[CPUZ] [varchar](200) NULL,
	[Battery] [varchar](200) NULL,
	[Phukiendikem] [nvarchar](200) NULL,
	[Chedobaohanh] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[SanphamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTDonHang] ON 

INSERT [dbo].[CTDonHang] ([CTDonhangID], [SanphamID], [DonhangID], [Soluong], [Dongia]) VALUES (3, 6, 7, 1, 33000000)
INSERT [dbo].[CTDonHang] ([CTDonhangID], [SanphamID], [DonhangID], [Soluong], [Dongia]) VALUES (1002, 2, 1004, 2, 94000000)
INSERT [dbo].[CTDonHang] ([CTDonhangID], [SanphamID], [DonhangID], [Soluong], [Dongia]) VALUES (1003, 1, 1005, 3, 120000000)
SET IDENTITY_INSERT [dbo].[CTDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([DanhmucID], [Tendanhmuc]) VALUES (1, N'Alienware')
INSERT [dbo].[DanhMuc] ([DanhmucID], [Tendanhmuc]) VALUES (2, N'MSI Gaming')
INSERT [dbo].[DanhMuc] ([DanhmucID], [Tendanhmuc]) VALUES (3, N'MSI Workstation')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([DonhangID], [KhachhangID], [Ngaylap], [Ngaynhanhang], [Diachigiaohang], [Phone], [Trangthai], [Hotenkhachhang]) VALUES (1, 1, CAST(N'2020-04-22' AS Date), CAST(N'2020-04-25' AS Date), N'123 Hoàng Quốc Việt, Hà Nội', N'0367005758', 1, N'Nguyễn Tư Tỉnh')
INSERT [dbo].[DonHang] ([DonhangID], [KhachhangID], [Ngaylap], [Ngaynhanhang], [Diachigiaohang], [Phone], [Trangthai], [Hotenkhachhang]) VALUES (2, 1, CAST(N'2020-01-04' AS Date), CAST(N'2020-05-04' AS Date), N'Phong Hải, Quảng Yên, Quảng Ninh', N'0367005758', 0, N'Nguyễn Tư Tỉnh')
INSERT [dbo].[DonHang] ([DonhangID], [KhachhangID], [Ngaylap], [Ngaynhanhang], [Diachigiaohang], [Phone], [Trangthai], [Hotenkhachhang]) VALUES (3, 2, CAST(N'2020-04-22' AS Date), CAST(N'2020-04-30' AS Date), N'Hà Nam', N'0123654789', 0, N'Đoàn Ngọc Tân')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhThucThanhToan] ON 

INSERT [dbo].[HinhThucThanhToan] ([HinhthucthanhtoanID], [Tenhinhthuctt], [Mota]) VALUES (1, N'Momo', N'Thanh toán qua momo')
SET IDENTITY_INSERT [dbo].[HinhThucThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachhangID], [Username], [Password], [Tenkhachhang], [Phone], [Mail], [Diachi], [PhanquyenID]) VALUES (1, N'TuTinh', N'tinh1999', N'Nguyễn Tư Tỉnh', N'0367005758', N'tutinhxomdong3@gmail.com', N'Quảng Ninh', 2)
INSERT [dbo].[KhachHang] ([KhachhangID], [Username], [Password], [Tenkhachhang], [Phone], [Mail], [Diachi], [PhanquyenID]) VALUES (2, N'TanDoan', N'tan1999', N'Đoàn Ngọc Tân', N'0389562415', N'doanngoctan9@gmail.com', N'Hà Nam', 2)
INSERT [dbo].[KhachHang] ([KhachhangID], [Username], [Password], [Tenkhachhang], [Phone], [Mail], [Diachi], [PhanquyenID]) VALUES (3, N'Admin', N'admin', N'Admin', N'0101010101', N'admin@uk.com', N'Hà Nội', 2)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoangGia] ON 

INSERT [dbo].[KhoangGia] ([KhoanggiaID], [Giatren], [Giaduoi]) VALUES (1, CAST(5000000 AS Decimal(18, 0)), CAST(10000000 AS Decimal(18, 0)))
INSERT [dbo].[KhoangGia] ([KhoanggiaID], [Giatren], [Giaduoi]) VALUES (2, CAST(10000000 AS Decimal(18, 0)), CAST(15000000 AS Decimal(18, 0)))
INSERT [dbo].[KhoangGia] ([KhoanggiaID], [Giatren], [Giaduoi]) VALUES (3, CAST(15000000 AS Decimal(18, 0)), CAST(20000000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[KhoangGia] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([PhanquyenID], [Tenquyen]) VALUES (1, N'Admin')
INSERT [dbo].[PhanQuyen] ([PhanquyenID], [Tenquyen]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([SanphamID], [DanhmucID], [Tensanpham], [Giabandau], [Trongluong], [Mausac], [Imagelink], [Memory], [Hedieuhanh], [VGA], [CPUZ], [Battery], [Phukiendikem], [Chedobaohanh]) VALUES (1, 1, N'Alienware 17 Gaming CPU Skylake', 40000000, 3.5, N'Đen Bạc', N'ali1.JPG', N'8GB DDR4 2133Mhz (4G * 2) ', N'Windows 10 Pro 64 Bit', N'NVIDIA GeForce GTX970M 3GB GDDR5 ', N'Skylake i7-6700HQ  ', N'	
8 Cell lithium (92Wh)', N'AC Adapter', N'12 tháng')
INSERT [dbo].[SanPham] ([SanphamID], [DanhmucID], [Tensanpham], [Giabandau], [Trongluong], [Mausac], [Imagelink], [Memory], [Hedieuhanh], [VGA], [CPUZ], [Battery], [Phukiendikem], [Chedobaohanh]) VALUES (2, 1, N'Alienware 15A2 Gaming CPU Skylake', 47000000, 2.3, N'Đen Hồng', N'ali2.JPG', N'8GB DDR4 2133Mhz (4G * 2) ', N'Windows 10 Pro 64 Bit', N'NVIDIA GeForce GTX970M 3GB GDDR5 ', N'Skylake i7-6700HQ ', N'	
8 Cell lithium (92Wh)', N'AC Adapter', N'12 tháng')
INSERT [dbo].[SanPham] ([SanphamID], [DanhmucID], [Tensanpham], [Giabandau], [Trongluong], [Mausac], [Imagelink], [Memory], [Hedieuhanh], [VGA], [CPUZ], [Battery], [Phukiendikem], [Chedobaohanh]) VALUES (3, 1, N'Alienware 15CB Gaming CPU Skylake', 38000000, 2.5, N'Đen', N'ali3.JPG', N'8GB DDR4 2133Mhz (4G * 2) ', N'Windows 10 Pro 64 Bit', N'NVIDIA GeForce GTX970M 3GB GDDR5 ', N'Skylake i7-6700HQ ', N'	
8 Cell lithium (92Wh)', N'AC Adapter, CD', N'12 tháng')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang_DonHang] FOREIGN KEY([DonhangID])
REFERENCES [dbo].[DonHang] ([DonhangID])
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang_DonHang]
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang_SanPham] FOREIGN KEY([SanphamID])
REFERENCES [dbo].[SanPham] ([SanphamID])
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang_SanPham]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_PhieuNhap] FOREIGN KEY([PhieunhapID])
REFERENCES [dbo].[PhieuNhap] ([PhieunhapID])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_SanPham] FOREIGN KEY([SanphamID])
REFERENCES [dbo].[SanPham] ([SanphamID])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_SanPham]
GO
ALTER TABLE [dbo].[CTPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuXuat_DonHang] FOREIGN KEY([DonhangID])
REFERENCES [dbo].[DonHang] ([DonhangID])
GO
ALTER TABLE [dbo].[CTPhieuXuat] CHECK CONSTRAINT [FK_CTPhieuXuat_DonHang]
GO
ALTER TABLE [dbo].[CTPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuXuat_PhieuXuat] FOREIGN KEY([PhieuxuatID])
REFERENCES [dbo].[PhieuXuat] ([PhieuxuatID])
GO
ALTER TABLE [dbo].[CTPhieuXuat] CHECK CONSTRAINT [FK_CTPhieuXuat_PhieuXuat]
GO
ALTER TABLE [dbo].[CTPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuXuat_SanPham] FOREIGN KEY([SanphamID])
REFERENCES [dbo].[SanPham] ([SanphamID])
GO
ALTER TABLE [dbo].[CTPhieuXuat] CHECK CONSTRAINT [FK_CTPhieuXuat_SanPham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([KhachhangID])
REFERENCES [dbo].[KhachHang] ([KhachhangID])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_PhanQuyen] FOREIGN KEY([PhanquyenID])
REFERENCES [dbo].[PhanQuyen] ([PhanquyenID])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_PhanQuyen]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([NhacungcapID])
REFERENCES [dbo].[NhaCungCap] ([NhacungcapID])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([DanhmucID])
REFERENCES [dbo].[DanhMuc] ([DanhmucID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
/****** Object:  StoredProcedure [dbo].[ThongKeSPTheoTG]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--1. thống kê đơn hàng bán theo khoảng thời gian
create proc [dbo].[ThongKeSPTheoTG]
	@date1 datetime, @date2 datetime
as
begin
	select sp.*,ct.Soluong  from SanPham sp
	inner join CTDonHang ct on sp.SanphamID = ct.SanphamID
	inner join DonHang dh on dh.DonhangID = ct.DonhangID
	where dh.Ngaylap between @date1 and @date2
	order by dh.Ngaylap desc
	--MONTH(mt.Ngaymuon) = MONTH(@date) and YEAR(mt.Ngaymuon) = YEAR(@date)
end
GO
/****** Object:  StoredProcedure [dbo].[ThongKeSPTheoThang]    Script Date: 3/21/2021 5:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThongKeSPTheoThang]
	@thang int, @nam int
as
begin
	select sp.*,ct.Soluong,dm.Tendanhmuc,dh.Hotenkhachhang,dh.Diachigiaohang  from SanPham sp
	inner join CTDonHang ct on sp.SanphamID = ct.SanphamID
	inner join DonHang dh on dh.DonhangID = ct.DonhangID
	inner join DanhMuc dm on dm.DanhmucID = sp.DanhmucID
	where month(dh.Ngaylap) = @thang and YEAR(dh.Ngaylap) = @nam
	order by dh.Ngaylap desc
	--MONTH(mt.Ngaymuon) = MONTH(@date) and YEAR(mt.Ngaymuon) = YEAR(@date)
end
GO
