@model List<LaptopStore.Models.DAO.CartItem>
@using LaptopStore.Models.Entities;
@using LaptopStore.Models.DAO;

<div class="header-top">
    <div class="wrap">
        <div class="logo">
            <a href="index.html"><img src="~/Content/images/laptop/logo.png" alt="" /></a>
        </div>
        <div class="cssmenu">
            @{
                var session = (LoginModel)Session[LaptopStore.Models.Common.CommonConstant.USER_SESSION];
            }
            @if (session == null)
            {
                <ul>
                    <li class="active"><a href="/Sanpham/SanphamView">Cửa hàng</a></li>
                    <li><a href="#">Giỏ hàng</a></li>
                    <li><a href="/Taikhoan/Login">Tài khoản</a></li>
                    <li><a href="/Taikhoan/Create">Đăng ký</a></li>
                </ul>
            }
            else
            {
                <ul>
                    <li class="active"><a href="/Sanpham/SanphamView">Cửa hàng</a></li>
                    <li><a href="/Cart/Index">Giỏ hàng: @Model.Count</a></li>
                    <li><a href="#"> @session.username</a></li>
                    <li><a href="#">@Html.ActionLink("Thoát", "Logout", "TAIKHOAN")</a></li>
                </ul>
            }

        </div>
        <div class="clear"></div>
    </div>
</div>

