@model IEnumerable<LaptopStore.Models.Entities.SanPham>

<ul id="flexiselDemo3">
    @foreach (var item in Model)
    {
        <li>
            <img src="~/Content/images/Products/@item.Imagelink" /><div class="grid-flex"><a href="/Sanpham/ChitietSP/@item.SanphamID">@item.Tensanpham</a><p>@string.Format("{0:##,#}", item.Giabandau) VNĐ</p></div>
        </li>
    }
</ul>

<script type="text/javascript">
    $(window).load(function () {

        $("#flexiselDemo3").flexisel({
            visibleItems: 5,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3
                }
            }
        });

    });
</script>
<script type="text/javascript" src="~/Content/js/jquery.flexisel.js"></script>
<style>
    #flexiselDemo3 {
        display: flex;
    }
</style>

