
@{
    ViewBag.Title = "MuaHangThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    h2 {
        text-align: center;
        font-family: 'a';
        line-height: 1.8em;
        font-size: 22px;
        color: grey;
    }
</style>
<hr />
<h2>Bạn đã đặt hàng thành công tại Laptop77. Đơn hàng của bạn đang chờ xử lý.</h2>
<h2>Nhân viên sẽ liên hệ với bạn trong 10 phút nữa để xác nhận đơn hàng</h2>
<h2>Mọi thắc mắc hoặc ý kiến đóng góp vui lòng liên hệ :
<h2>Cảm ơn bạn đã tin tưởng và ủng hộ Laptop77</h2>
<hr />
<button><a href="/SanPham/SanphamView">QUAY LẠI TRANG CHỦ</a></button>
<br />
<br />

